.converter {
    @box_pth_height: (@distance_normal + @converter_element_height) + @converter_element_height * 3 + @distance_small * 2 + @distance_normal * 2;
    .plain_to_hashes {
        position: relative;
        h2 {
            position: absolute;
            left: @distance_normal;
            top: @distance_normal;
            .h(@converter_element_height);
        }
        @media @media_big {
            height: @box_pth_height;
        }
    }
    .input, .output {
        border: 1px solid @color_main_normal;
        padding: 0 @distance_small;
        display: block;
        width: calc(~"50% - @{distance_normal} - @{converter_submit_width}");
        height: @converter_element_height;
        position: absolute;
    }
    .input {
        background-color: @color_grey_light;
        color: #333;
        left: @distance_normal;
        top: (@distance_normal + @converter_element_height) + @distance_normal + @distance_small + @converter_element_height;
        &:hover {
            background-color: #D6D6D6;
        }
        &:focus {
            background-color: #FFF;
        }
    }
    .output {
        background-color: #222;
        right: @distance_normal;
        &.element_0 {
            top: (@distance_normal + @converter_element_height) + @distance_normal;
        }
        &.element_1{
            top: (@distance_normal + @converter_element_height) + @distance_normal + @distance_small + @converter_element_height;
        }
        &.element_2 {
            top: (@distance_normal + @converter_element_height) + @distance_normal + @distance_small * 2 + @converter_element_height * 2;
        }
    }
    .submit {
        position: absolute;
        left: calc(~"50% - @{converter_submit_width} / 2");
        top: (@distance_normal + @converter_element_height) + @distance_normal + @distance_small + @converter_element_height - 10px;
        height: 60px;
        width: @converter_submit_width;
        border: 1px solid @color_main_normal;
        cursor: pointer;
    }
}